p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 500;
    font-style: italic;
}
label{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 500;
    font-style: italic;

}